*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

a{
    text-decoration: none;
}

.center{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

.clear{
    clear:both;
}

header{
    background: #5e3ea1;
    padding: 10px 0;
}

header > .center{
    display: flex;
}

.logo{
    width: 50%;
    color: white;
}

.menu{
    width: 50%;
    text-align: right;
}

.menu ul{
    list-style-type: none;
}

.menu li{
    display: inline-block;
    font-size: 15px;
    margin-right: 13px;
    
}

.menu a{
    color: white;
}

section.texto-chamada{
    background: #4c3282;
    padding: 30px 0;
    text-align: center;
    color: white;
}

section.texto-chamada h2,section.texto-chamada h3{
    font-weight: normal;
    margin-bottom: 10px;
}

section.texto-chamada h2 > b{
    color: rgb(231, 66, 107);
}

section.loja{
    padding: 30px 0;
}

section.loja > .center{
    display: flex;
    flex-wrap: wrap;
}

.loja-wraper{
    width: 33.3%;
    padding: 20px;
}
/*Pesquise sobre as diferenças do flex-box e do float*/
.box-single-loja{
    border: 1px solid #999;
    height: 100%;
}

.box-single-loja img{
    max-width: 100%;
}

.box-single-loja h2{
    text-align: center;
    padding: 0 8px;
    font-weight: normal;
}

.box-single-loja p{
    padding: 15px 8px;
    font-size: 15px;
    color: rgb(10, 10, 10);
}

.loja-wraper a{
    color: white;
    background: #5fb382;
    padding: 10px 8px;
    text-align: center;
    display: block;
    width: 100%;
}

section.novidades{
    padding: 30px 0;
}

/*Elementos do Boot CSS*/

.text-right{
    text-align: right;
}

.w50{
    float: left;
    width: 50%;
    padding: 0 15px;
}

.w50 h1{
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: normal;
    color: #4b4b4b;
}

.box-single-noticias h2{
    font-size: 21px;
    font-weight: bold;
    color: rgb(80,80,80);
}

.box-single-noticias p{
    font-size: 16px;
    font-weight: normal;
    color: rgb(90,90,90);
    margin-bottom: 10px;
}

.depoimentos ul{
    list-style-position: inside;
}

.depoimentos li{
    margin-bottom: 10px;
    font-size: 16px;
    color: rgb(90, 90, 90);
}

footer{
    padding: 20px 0;
    background: #3c2e58;
    color: white;
}

@media screen and (max-width:768){
.loja-wraper{
        max-width: 500px;
        width: 100%;
        padding:20px;
        margin-bottom:30px auto;
}

.w50{
    width: 100%;
    margin-bottom: 30px;
}

}